body{
    background-color: rgb(108, 108, 243);
}
.Titulo{
    text-align: center;
    font-size: 32px;
    color: gold;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 6px 1px #919191,
    1px 8px 6px rgba(16, 16, 16, 0.4);
}

.Borda{
    border: 6px solid lightblue;
    width: 40%;
    margin:auto;
    background-color: white;
    box-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 12px 6px rgba(16, 16, 16, 0.4),
    1px 12px 6px rgba(16, 16, 16, 0.4);
}

.Nome_Cidade{
    border: 2px solid lightblue;
    border-radius: 5px;
    margin: 8px 0px;
    padding: 6px;
    text-align: left;
    outline: none;
    box-sizing: border-box;
    margin-left: 2%;
    transition: .3s;
}

.tempo{
    color: rgb(0, 255, 0);
    /* border: 4px solid blue; */ 
    font-size: 50px;
    border-radius: 90% ;
    margin-left: 35%;
    text-shadow: 1px 1px 1px #919191;
    
}

.botao{
    border-color: #14fff1;
    margin-left: 83%;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #14fff1;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.nome{
    color: gold;
    font-size: 30px;
    margin-left: 2%;
    text-shadow: 1px 1px 1px #919191;
}

.Nome_Cidade:focus{
    border-color: aqua;
    box-shadow: 0 0 8px 0 aqua;
}

.Tempo_minimo{
    color: #13d49a;
    text-shadow: 1px 1px 1px #919191;
    margin-left: 2%;
}

.Tempo_maximo{
    color: #e62424;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191;
    margin-left: 2%;
}

.clima{
    margin-left: 2%;
}
